.top_blogs{
    padding-top: 6rem;
    background: var(--lavender);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.top_blogs > .top_left > .hero__cat{
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    text-align: left;
    color: #000;
}

.top_left{
    width: 60%;
}

.top_blogs > .top_left > .hero__title{
    font-size: 2rem;
    /* width: 70%; */
    text-align: left;
    color: #000;
}

.top_blogs > .top_left > .hero__date{
    padding: 0.8rem 0;
    /* font-size: 3rem; */
    color: #000;
}

.top_blogs > .top_left > .hero__date > span{
    color: var(--yellow);
    /* font-size: 3rem; */
}

.top_blogs > .top_left > .hero__content{
    font-size: 0.9rem;
    padding: 0.8rem 0;
    width: 80%;
    color: #000;
}

.top_right{
    width: 40%;
}

.top_right > img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.blogs_all_post{
    padding: 2rem;
}

@media (max-width: 950px) {
    .top_blogs > .top_left > .hero__title{
        font-size: 1.5rem;
    }
}

@media (max-width: 700px) {
    .top_blogs{
        display: block;
        padding-top: 8rem;
    }
    .top_left{
        width: 100%;
    }
    .top_right{
        display: none;
    }

    .blogs_all_post{
        padding: 1rem 0.8rem;
    }
}